.buttonsContainer {
    display: flex;
    gap: 20px;
}

.responseContainer {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    margin-top: 50px;
}

.image {
    width: 418px;
    height: 315px;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.code {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
}

.info {}