.input:focus {
}

.input {
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    border: 1px solid red;
    border-radius: 5px;
    outline: none;
}

.errorInput:focus {
}

.error {
    color: red;
    font-size: 10px;
}
