.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.clock {
}

.watch {
}

.watch strong {
}

.more {
    color: #b2b0b0;
}

button {
    background-color: #1157be;
    color: #FFFFFF;
}

button:disabled {
    color: #FFFFFF;
}
