.App {
    --header_height: 60px;
}

.hw {
    width: 1280px;
    border: 1px solid #D9D9D9;
    padding: 20px;
    margin-top: 20px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}