.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    gap: 10px;
}

.error {
    color: red;
}

.input {
}

.input:focus {
}

.errorInput {
    border: 1px solid red;

}

.button {
    background: #0066CC;
    color: #FFFFFF;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: #00000080;
    opacity: 0.7;
}

.greeting {
}
