.sendForm {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.textarea {
    width: 976px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: #F5F7FB;
    box-shadow: 0 1px 2px 0 #1D21261A;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #00000099;
    resize: none;
    overflow: hidden;
    margin-top: 100px;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #0066CC;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: 0.2s;
}

.button:active {

}

